@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

div{
  margin: 0 15%
}

h1{
  font-weight: 800;
  font-size: 40px;
}

.button{
  font-weight: 500;
  margin-left: 15%;
  background-color: #007AFF;
  color: white;
  border: none;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 33px;
  transition: 0.25s;
}

.button:hover{
  border-radius: 11px;
  background-color: white;
  color: #007AFF;
}


.button2{
  font-weight: 500;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mainh1{
  margin: 5% 8% 0 15%;
}

.mainh3{
  font-size: 24px;
  font-weight: 300;
  margin: 8px 15% 16px;
  margin-left: 15%;
  margin-right: 15%;
}

.ill{
  display: block;
  float: left;
  width: 150%;
  margin-top: -33%;
  margin-bottom: -38%;
}

.logo{
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column{
  float: left;
}

.card{
  width: 34%;
  height: 400px;
  background-color: #131314;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 14px 26px rgba(0,0,0,0.3);
  text-decoration: none;
  margin-bottom: 12px;
  transition: all 1.3s cubic-bezier(0.19, 1, 0.22, 1);
}

.card:hover{
  background-color: #141a1d;
  cursor: pointer;
}
.mt{
  margin-bottom: 32px;
}

.cd1{
  background-image: url(img/artist.png);
  background-repeat: no-repeat;
  background-size: 25em;
  background-position: bottom center;
  background-position-x: 20%;
  margin-right: 2%;
  margin-left: 15%;
}

.cd2{
  margin-left: 0%;
  background-image: url(img/vinyl.png);
  background-size: 30em;
  background-repeat: no-repeat;
  background-position: top center;
}

.margem-cd1{
  margin-left: 8%;
  margin-right: 8%;
}

.margem-cd2{
  margin-left: 8%;
  margin-right: 8%;
  position: absolute;
  bottom: 0;
}

.card-h1{
  margin-bottom: -14px;
}

.copyright{
  margin-top: 56px;
}

.h2align{
  margin: 0 15% 50px;
  text-align: center;
  font-size: 24px;
  background: linear-gradient(to right, #fff, #F4C4A2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* MOBILE */

@media(max-width: 600px){

  div{
    margin-left: 5%;
  }
  .mainh1, .mainh3, .button{
    margin-left: 5%;
  }
  .card{
  width: 100%;
  box-shadow: none;
  }
  .cd1, .cd2{
    margin-left: 0%;
  }
  .cd1{
  background-size: 30em;
  background-repeat: no-repeat;
  background-position: bottom center;
  }
  .cd2{
  background-size: 35em;
  background-repeat: no-repeat;
  background-position: left top;
  }
  .h2align{
    margin: 0;
  }
}

@media(min-width: 900px){

  .mainh1{
  margin-right: 50vw;
  }
  .mainh3{
  margin-right: 50vw;
  }
  .card{
  width: 25%;
  }
  .ill{
    margin-bottom: -50%;
  }
  .cd1{
    background-size: 30em;
  }
  .cd2{
    background-size: 35em;
  }
  .h2align{
    font-size: 36px;
    margin: 0 28% 50px;
  }
  .copyright{
  margin-top: 80px;
  }
}

@media(max-width: 430px){
  .logo{
    margin-top: 40px;
    margin-bottom: 56px;
  }
  h1{
    font-size: 32px;
  }
  mainh1{
    margin-right: 15%;
    margin-top: 30px;
  }
  .button2{
    padding: 10px 12px;
  }
  .ill{
    display: none;
  }

  .mt{
    margin-top: 56px;
  }
}

@media(max-width: 360px)
{
  .displaybt{
    display: none;
  }
}