@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

h1{
  font-weight: 800;
  font-size: 40px;
}

.button{
  font-weight: 500;
  margin-left: 15%;
  background-color: #007AFF;
  color: white;
  border: none;
  padding: 12px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 33px;
}

.button2{
  font-weight: 500;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.mainh1{
  margin: 5% 8% 0% 15%;
}

.mainh3{
  font-size: 24px;
  font-weight: 300;
  margin-left: 15%;
  margin-right: 15%;

}

@media(min-width: 900px){

  .mainh1{
  margin-right: 50vw;
  }
  .mainh3{
  margin-right: 50vw;
  }

}

.ill{
  display: block;
  float: left;
  width: 150%;
  margin-top: -33%;
}

.logo{
  width: 10rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 3%;
}

@media(max-width: 430px){
  .logo{
    margin-top: 40px;
    margin-bottom: 56px;
  }
  .displaybt{
    display: none;
  }
  h1{
    font-size: 32px;
  }
  mainh1{
    margin-right: 15%;
    margin-top: 30px;

  }
  .ill{
    display: none;
  }
}